/* CORE STYLES */
body {
    background: url(/images/valhalla-background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

body .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inner-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

footer {
    text-align: center;
}

.recipe {
    background: #333333bd;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe .content {
    opacity: 1;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    border-radius: 32px;
    padding: 5px 0;
}

.button a {
    color: white;
    text-decoration: none;
    transition: all .5s ease;
}

.button:hover {
    background: rgba(0, 0, 0, 1);
    letter-spacing: 1px;
}

.image {
    width: 100%;
    height: 150px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}